/* 320x480 */

*{
padding: 0;
margin: 0;
box-sizing: border-box;
}

@font-face{
font-family: 'default';
src: url('./fonts/Minercraftory.ttf');
}

@font-face{
font-family: 'button';
src: url('./fonts/Minecraft.ttf');
}

:root{
--red:#842D78;
--yellow: #E5A836;
--darkPink: #B2336C;
--blue: #297EA1;
--darkBlue: #174DB1;
}

body{
  background-color: var(--yellow);
  color: var(--darkPink);
  font-family: 'default';
}

main > h2 > span{
color: var(--darkBlue);
}
header{
background-color:var(--blue);
border-bottom:2px solid var(--darkPink);
display: flex;
justify-content:center;
align-items:center;
text-align:center;
}

button{
background-color:var(--blue);
border:2px solid var(--darkPink);
padding:6px;
text-align:center;
border-radius:10px;
}

h2{
font-size:min(5vw,2.2rem);
text-align:center;
}
main > article > h2{
font-size:min(3.5vw,1.8rem);
}

footer{
border-top:2px solid var(--darkPink);
justify-content:center;
align-items:center;
text-align:center;
}

main{
display: grid;
justify-items:center;
align-items:center;
width:100vw;
}

article{
display: grid;
justify-content:center;
align-items:center;
text-align:center;
}

iframe{
width:70vw;
height:70vh;
align-self:center;
justify-self:center;
}

button{
width:80%;
justify-self:center;
height:88%;
align-self:center;
font-family:'button';
font-size: min(5vw,2rem);
}

a:link{
color: black;
}

a:visited{
color: var(--darkPink);
}

dialog{
background-color: var(--yellow);
color: var(--darkPink);
position:fixed;
top:50%;
left:50%;
transform: translate(-50%,-50%);
padding: 10px;
border-radius: 20px;
box-shadow: 10px 10px 10px var(--darkPink);
}

dialog > div{
display: grid;
align-items:center;
justify-items:center;
text-align: center;
border-radius:20px;
width:72vw;
height:94vh;
}
dialog div img{
border-radius:5px;
width: 93%;
height: min(32%,280px);
justify-self:center;
align-self:center;
}

p.linux{
  color: var(--blue);
}

img.linux{
  border:2px solid var(--blue);
}
