/* 320x480 */

*{
padding: 0;
margin: 0;
box-sizing: border-box;

}
:root{
--black: black;
}

header{
border-bottom:2px solid var(--black);
display: flex;
justify-content:center;
align-items:center;
text-align:center;
}

h2{
font-size:min(5vw,2.2rem);
text-align:center;
}

footer{
border-top:2px solid var(--black);
justify-content:center;
align-items:center;
text-align:center;
}

main{
display: grid;
justify-items:center;
align-items:center;
width:100vw;
}

article{
display: grid;
justify-content:center;
align-items:center;
text-align:center;
}

iframe{
width:70vw;
height:70vh;
align-self:center;
justify-self:center;
}

button{
width:80%;
height:80%;
justify-self:center;
align-self:center;
}

dialog{
position:fixed;
top:50%;
left:50%;
transform: translate(-50%,-50%);
padding: 10px;
}

dialog > div{
display: grid;
justify-content:center;
align-items:center;
text-align: center;
border-radius:20px;
width:65vw;
height:65vh;
}
