/* 320x480 */
*{
padding: 0;
margin: 0;
box-sizing: border-box;
}

@font-face{
font-family: 'default';
src: url('./fonts/Minercraftory.ttf');
}

@font-face{
font-family: 'button';
src: url('./fonts/Minecraft.ttf');
}

:root{
--red:#842D78;
--yellow: #E5A836;
--green: #36E5B7;
--darkGreen: #114A3B;
--darkPink: #B2336C;
--blue: #297EA1;
--darkBlue: #174DB1;
}

body{
  background-color: var(--yellow);
  color: var(--darkPink);
  font-family: 'default';
}

main > h2 > span{
color: var(--darkBlue);
}

header{
background-color:var(--blue);
border-bottom:2px solid var(--darkPink);
display: flex;
justify-content:center;
align-items:center;
text-align:center;
gap: 15px;
}

button{
background-color:var(--blue);
border:2px solid var(--darkPink);
padding:6px;
text-align:center;
border-radius:10px;
}


header button{
width:25%;
height:15%;
padding: 0px;
}

h1{
font-size:min(4.2vw,2.4rem);
}

h2{
font-size:min(4vw,2.2rem);
text-align:center;
}

main > article > h2{
font-size:min(3.5vw,1.8rem);
}

footer{
border-top:2px solid var(--darkPink);
justify-content:center;
align-items:center;
text-align:center;
}

main{
display: grid;
justify-items:center;
align-items:center;
width:100vw;
}

article{
display: grid;
justify-content:center;
align-items:center;
text-align:center;
}

iframe{
width:70vw;
height:70vh;
align-self:center;
justify-self:center;
}

button{
width:80%;
justify-self:center;
height:88%;
align-self:center;
font-family:'button';
font-size: min(5vw,2rem);
}

a:link{
color: black;
}

a:visited{
color: var(--darkPink);
}

dialog{
background-color: var(--yellow);
color: var(--darkPink);
top:50%;
left:50%;
transform: translate(-50%,-50%);
padding: 10px;
border-radius: 20px;
box-shadow: 10px 10px 10px var(--darkPink);
z-index: 9999;
}

dialog > div{
display: grid;
align-items:center;
justify-items:center;
text-align: center;
border-radius:20px;
width:72vw;
height:94vh;
}

dialog div img{
border-radius:5px;
width: 93%;
height: min(32%,280px);
justify-self:center;
align-self:center;
}

p.linux{
  color: var(--blue);
}

img.linux{
  border:2px solid var(--blue);
}

dl{
display:flex;
flex-direction:column;
}

section > dl{
gap: clamp(5px,2vw,26px);
}

.modContainer{
background-color: var(--green);
border-radius:10px;
}

.modContainer > dt{
color: var(--darkBlue);
padding-top: 10px;
/* font-size: min(2.3vw,2.2rem); */
font-size: clamp(1rem,2.3vw,2.2rem);
}

dd a:first-of-type{
border-top-left-radius:5px;
border-top-right-radius:5px;
}

dd a:last-of-type{
border-bottom-left-radius:5px;
border-bottom-right-radius:5px;
}

dd a{
background-color: var(--blue);
display: block;
}

dd > dl > dt{
color: var(--red);
/* font-size: clamp(1.8vw,2.1rem); */
font-size: clamp(0.9rem,1.8vw,2.1rem);
}


dd > dl > dd{
font-size: min(1.1vw,1.5rem);
font-size: clamp(0.8rem,1.1vw,1.5rem);
}

dialog p{
font-size: clamp(0.7rem,1.0vw,1.2rem);
}

dialog h2{
/* font-size: min(2.3vw,2.2rem); */
font-size: clamp(1rem,2.3vw,2.2rem);
}

button{
cursor: pointer;
}

dialog p > span{
color: var(--darkGreen);
}


dialog h2 > span{
color: var(--blue);
}

.titleForInformation{
color: var(--blue);
}
